*{
	margin: 0;
	padding: 0;
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
	text-align: left;
	color: #282828;
}

a, a:hover, a:visited, a:active  {
	text-transform: none;
	color: #000;
	font-style: none;
	text-decoration: none;
}

html, body {
   height:100%;
   background-color: #DBDBEA;
}

ul {
	list-style: none;
}

align{
	border: 1px solid black;
}

input {
	width: 100%;
	height: 25px;
	border: 1px solid #282828;
	border-radius: 4px;
    margin-bottom: 5px;
    padding-left: 3px;

}

textarea{
	padding: 2px;
	resize: none;
	width: 100%;
	height: 100px;
	display: block;
	margin-bottom: 5px;
}

input:focus {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 10px rgba(34, 34, 34, 0.6);
}

.centered {
	width: 960px;
	padding: 0 20px;
	margin: 0 auto;
}

.foot_head {
	padding-top: 15px;
}

.grey *{
	color: #DBDBEA;
}

.form {
	width: 200px;
	margin-right:400px;
}

.button {
	cursor:pointer;
	width: 75px;
	height: 25px;
	text-align: center;
	background-color: #282828;
	color: #DBDBEA;
 	height: 30px;
}

.form h1 {
	font-size: 20px;
	height: 30px;
}

.lowered {
	margin-top: 40px;
}

.radio_btn{
	width: 16px;
	height: 16px;
	margin-left: 10px;
	margin-right: 111px;
}

.radio_btn_text {
	width: 60px;
	float: left;
}

.right {
	float: right;
}

.left {
	float: left;
}

.notify{
	font-size: 25px;
}

.detail{
	font-size:20px;
}

.send{
	margin-right:98px;
	margin-top: 20px;
}

.click{
	cursor:pointer;
}

.click:hover{
	text-decoration:underline;
	cursor:pointer;
}

#main{
	padding-top: 10px;
	padding-bottom: 100px;
}

#container {
   min-height:100%;
   position: relative;
}

#content {
	width: 740px;
	margin-left: 220px;
}

#header {
   background:#282828;
   height: 60px;
   min-width: 1000px;
}

#logo {
	font-size: 30px;
	width: 150px;
}

#header_list {
	margin-top: 10px;
}

#header_list a {
	font-size: 20px;
	padding: 0 10px 12px 10px;
}

#header_list a:visited, #header_list a:active{
	color: #DBDBEA;
}

#header_list a:hover {
	color: #DBDBEA;
	background-color: #444444;
	cursor: pointer;
}

#register_form {
	margin-top: 5px;
}

#menu {
	float: left;
	width: 200px;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#282828;
   min-width: 1000px;
}

#separator{
	border-top: 1px solid #17052D;
}

#frontier{
	border: 1px dashed black;
	margin-bottom: 5px;
}

#vertmenu {
	float: left;
	font-family: sans-serif;
	font-size: 100%;
	width: 200px;
}

#vertmenu h1 {
	display: block; 
	color: #DBDBEA;
	font-size: 28px; 
	padding: 3px 0 5px 3px;
	background-color: #282828;
	margin: 0px;
	width:175px;
}

#vertmenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	border: none;
}

#vertmenu ul li {
	margin: 0px;
	padding: 0px;
}
#vertmenu ul li a {
	font-size: 20px;
	display: block;
	border-bottom: 1px dashed #282828;
	padding: 5px 0px 2px 4px;
	text-decoration: none;
	color: #282828;
	width:172px;
}

#vertmenu ul li a:hover, #vertmenu ul li a:focus {
	color: #282828;
	border:1px dashed black;
	background-color: #eeeeee;
}

#new_message{
	float: center;
	width: 500px;
	height: 500px;
	margin-left: 300px;
	margin-top: 40px;
}

#body_bar{
	width: 100%;
	height: 200px;
	resize: none;
	border: 1px solid #282828;
}

#receiver_bar{
	margin-top: 10px;
	margin-bottom: 5px;
	width: 40%;
}

#title_bar{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 40%;
}

#mensagem_noti{
	font-size: 20px;
	width: 400px;
	height:30px;
}

#tb_sender{
	width: 20%;
}

#tb_title{
	width: 60%;
}

#tb_sender{
	width: 20%;
}

#controls{
	margin-top:20px;
	width: 100%;
	height: 30px;
}

#fw{
	float:right;
}

#pr{
	float:left;
	margin-left: 0px;
}

#pager{
	font-size:15px;
	width: 100px;
	padding:0;
	margin-left: 325px;
	margin-top:20px;
}

#msg_read_from{
	margin-top:10px;
	height:25px;
	font-size: 18px;
}

#msg_read_title{
	margin-top:5px;
	height:25px;
	font-size: 18px;
}

#msg_read_body{
	margin-top:5px;
	font-size: 18px;
	margin-bottom: 20px;
}

#msg_txt{
	padding-left: 20px;
	font-size: 18px;
}

#zebra_table {
	width: 100%;
	border-top: solid 1px #000;
	border-left: solid 1px #000;
	border-right: solid 1px #000;
}

#row {
	height: 31px;
	border-bottom: solid 1px #000;
}

#row li {
	font-size: 16px;
	float: left;
	padding: 6px 0;
	margin-left: 2px;
}

.title {
	background-color: #282828;
}

.title li {
	color: #DBDBEA;
}

.odd {
	background-color: #b9b9c8;
}

.even {
	background-color: #DBDBEA;
}

#elem1 {
	width: 24%;
	border-right: solid 1px #000;
}

#elem2 {
	width: 40%;
	border-right: solid 1px #000;
}

#elem3 {
	width: 34%;
}

#navlist li { 
	list-style-type: circle;
	font-size: 20px;
}


#navlist li a:hover{ 
	text-decoration:underline;
	cursor:pointer;
}

#post{
	width: 500px;
	background-color: #282828;
}

#post_top {
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: solid 1px #DBDBEA;
	clear: both;
}

#post_sender{
	color: #DBDBEA;
	width: 250px;
	overflow-x: hidden;
	overflow-y: hidden;
	display: inline-block;
	float:left;
	padding-left: 2px;
}

#post_date{
	color: #DBDBEA;
	display: inline-block;
	text-align: right;
	width: 248px;
}

#post_body{

	min-height: 100px;
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: solid 1px #DBDBEA;
}

#post_image {
	padding-left: 2px;
	display: inline-block;
	width: 100px;
	float: left;
}

#post_text{
	padding-left: 5px;
	color: #DBDBEA;
	width: 393px;
	display:inline;
}

#replies {
	clear: both;
	
	border-bottom: solid 1px #DBDBEA;
}

#replies li#user {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2px;
	font-size: 14px;
	color: #DBDBEA;
	width: 100px;
	list-style: none;
	display: inline-block;
	border-right: solid 1px #DBDBEA;
}

#replies li#text {
	font-size: 14px;
	color: #DBDBEA;
	list-style: none;
	display: inline;
}

#post form#reply {
	padding-top: 5px;
	background-color: #DBDBEA;
}

#post form#editar {
	float:right;
}

#post form#delete {
	float: right;
}

#post form#editar input{
	background-color:#DBDBEA;
	color: #282828;
}

#post form#delete input{
	background-color:#DBDBEA;
	color: #282828;
}

#post input {
	width: 496px;
}

#post input.button {
	width: 80px;
}

#division {
	background-color: #282828;
	height: 2px;
	width: 500px;
	margin-bottom: 5px;
}